*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

#container{
  height: 100vh;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

table{
  position: relative;
  border: 2px solid black;
  border-collapse: collapse;
}

th, td{
  border: 2px solid black;
  padding: 20px;
}

#field{
  height: 300px;
  width: 300px;
  position: relative;
}

.area{
  width: 100px;
  height: 100px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  font-size: 70px;
  color: black;
}